@model Sheepshead.Model.Hand
@using Sheepshead.Model.Players
@using Sheepshead.Model
@{
    ViewBag.Title = "Begin Hand";
}

@if (Model.Game.Decks.Count() > 1)
{
    <fieldset>
        <legend>Last Trick</legend>
        @{ Html.RenderPartial("ReportTrick", Model.Game.Decks.ElementAt(Model.Game.Decks.Count() - 2).Hand.Tricks.Last()); }
    </fieldset>
    Html.RenderPartial("ReportHand", Model.Game.Decks.ElementAt(Model.Game.Decks.Count() - 2).Hand);
}

<fieldset>
    <legend>Game</legend>
    
    <div class="display-label">
            @Html.DisplayNameFor(model => model.Game.Id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Game.Id)
    </div>
    
    <div class="display-label">
            @Html.DisplayNameFor(model => model.Game.PlayerCount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Game.PlayerCount)
    </div>
    
    <div class="display-label">
            @Html.DisplayNameFor(model => model.Game.HumanPlayerCount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Game.HumanPlayerCount)
    </div>

    <div class="display-label">
            Starting Player
    </div>
    <div class="display-field">
        Player @(Model.Game.Players.IndexOf(Model.StartingPlayer) + 1)
    </div>

    <div class="display-label">
            Human Player
    </div>
    <div class="display-field">
        Player @(Model.Game.Players.IndexOf(Model.Game.Players.First(p => p is IHumanPlayer)) + 1)
    </div>

    <p>
        @Html.ActionLink("Pick", "Play", new { id = Model.Game.Id.ToString() })
    </p>
</fieldset>

