@model Sheepshead.Models.Deck
@using Sheepshead.Models
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ReportGame</title>
</head>
<body>
    <fieldset>
        <legend>Game</legend>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.Game.Name)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Game.Name)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.Game.PlayerCount)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Game.PlayerCount)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.Game.HumanPlayerCount)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Game.HumanPlayerCount)
        </div>

        <div class="display-label">
             Starting Player
        </div>
        <div class="display-field">
            Player @(Model.Game.Players.IndexOf(Model.StartingPlayer) + 1)
        </div>

        <div class="display-label">
             Human Player
        </div>
        <div class="display-field">
            Player @(Model.Game.Players.IndexOf(Model.Game.Players.First(p => p is IHumanPlayer)) + 1)
        </div>

        @Html.ActionLink("Pick", "Pick", new { id = Model.Game.Id })
    </fieldset>
    <in
</body>
</html>
