@using Sheepshead.Controllers
@model GameController.GameModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    @using (@Html.BeginForm())
    {
        <div>
            Game Name:
            @Html.TextBoxFor(model => model.Name)
        </div>
        <b>
            Player count must total 3 or 5.
        </b>
        <div>
            Number of Human Players: 1
        </div>
        <div>
            Number of Simple Players:
            @Html.TextBoxFor(model => model.SimpleCount)
        </div>
        <div>
            Number of Intermediate Players:
            @Html.TextBoxFor(model => model.IntermediateCount)
        </div>
        <div>
            Number of Advanced Players:
            @Html.TextBoxFor(model => model.AdvancedCount)
        </div>

        <input type="submit" value="Create Game" />
    }
</body>
</html>
