@model Sheepshead.Models.Trick
@using Sheepshead.Models
@{
    ViewBag.Title = "Playing Trick";
}

<h2>Playing Trick</h2>

@{ Html.RenderPartial("ReportPick", Model.Hand); }
@if (Model.Hand.Tricks.Count() > 1)
{ 
    <fieldset>
        <legend>Previous Trick</legend>
        @{ Html.RenderPartial("ReportTrick", Model.Hand.Tricks.ElementAt(Model.Hand.Tricks.Count() - 2)); }
    </fieldset>
}

<p>Cards played this trick</p>
<table>
    <tr>
    @foreach (var cardPlayed in Model.CardsPlayed)
    {
        var playerIndex = Model.Hand.Deck.Game.Players.IndexOf(cardPlayed.Key);
        <td>
            <div>Player @(playerIndex + 1)</div>
            <img src="@("\\Images\\" + @CardRepository.GetPictureFilename(cardPlayed.Value) + ".png")" />
        </td>
    }
    </tr>
</table>
<form method="post">
    <p>What card will you play?</p>
    @foreach (var card in ((HumanPlayer)ViewBag.HumanPlayer).Cards)
    {
        var cardIndex = ((HumanPlayer)ViewBag.HumanPlayer).Cards.IndexOf(card);
        var isLegal = Model.IsLegalAddition(card, (HumanPlayer)ViewBag.HumanPlayer);
        <input type="radio" name="indexOfCard" class="js-card-cb" value="@cardIndex.ToString()" data-index="@cardIndex.ToString()" style="@(isLegal ? "" : "display: none;")" />
        <img src="@("\\Images\\" + CardRepository.GetPictureFilename(card) + ".png")" class="@(isLegal ? "" : "ui-illegal")" />
    }
    <input type="hidden" value="@(Model.Hand.Deck.Game.Id)" id="id" name="id"/>
    <input type="submit" value="Play This Card" />
</form>
