@model Sheepshead.Models.Trick
@using Sheepshead.Models
@{
    ViewBag.Title = "Playing Trick";
}
<head>
    @Styles.Render("~/Scripts/playTrick.css")
</head>

<h2>Playing Trick</h2>

<div class="display-label">
        Starting Player
</div>  
<div class="display-field">
    Player @(Model.Hand.Deck.Game.Players.IndexOf(Model.StartingPlayer) + 1)
</div>

<div class="display-label">
        Human Player
</div>
<div class="display-field">
    Player @(Model.Hand.Deck.Game.Players.IndexOf(Model.Hand.Deck.Game.Players.First(p => p is IHumanPlayer)) + 1)
</div>

<p>Cards played</p>
@foreach (var cardPlayed in Model.CardsPlayed)
{
    var playerIndex = Model.Hand.Deck.Game.Players.IndexOf(cardPlayed.Key);
    <div>Player @(playerIndex + 1)</div>
    <img src="@("\\Images\\" + @CardRepository.GetPictureFilename(cardPlayed.Value) + ".png")" />
}
<form method="post">
    <p>What card will you play?</p>
    @foreach (var card in ((HumanPlayer)ViewBag.HumanPlayer).Cards)
    {
        var cardIndex = ((HumanPlayer)ViewBag.HumanPlayer).Cards.IndexOf(card);
        var isLegal = Model.IsLegalAddition(card, (HumanPlayer)ViewBag.HumanPlayer);
        <input type="radio" name="indexOfCard" class="js-card-cb" value="@cardIndex.ToString()" data-index="@cardIndex.ToString()" style="@(isLegal ? "" : "display: none;")" />
        <img src="@("\\Images\\" + CardRepository.GetPictureFilename(card) + ".png")" class="@(isLegal ? "" : "ui-illegal")" />
    }
    <input type="hidden" value="@(Model.Hand.Deck.Game.Id)" id="id" name="id"/>
    <input type="submit" value="Play This Card" />
</form>
