@model Sheepshead.Models.Hand
@using Sheepshead.Models.Players
@using Sheepshead.Models

@{
    ViewBag.Title = "Picker Found";
}

<fieldset>
    <legend>
        Last Hand
    </legend>
    <div class="display-label">
        Starting Player
    </div>  
    <div class="display-field">
        Player @(Model.Deck.Game.Players.IndexOf(Model.Deck.StartingPlayer) + 1)
    </div>

    <div class="display-label">
        Human Player
    </div>
    <div class="display-field">
        Player @(Model.Deck.Game.Players.IndexOf(Model.Deck.Game.Players.First(p => p is IHumanPlayer)) + 1)
    </div>

    @if (Model.Deck.Hand != null && Model.Deck.Hand.Leasters)
    {
        <div class="display-label" />
        <div class="display-field">
            Leasters Hand
        </div>
    }
    
    @if (!Model.Deck.Hand.Leasters) 
    {
        <div class="display-label">
            Picker
        </div>
        <div class="display-field">
            Player @(Model.Deck.Game.Players.IndexOf(Model.Picker) + 1)
        </div>

        <div class="display-label">
            Partner
        </div>
        <div class="display-field">
            Player @(Model.Deck.Game.Players.IndexOf(Model.Partner) + 1)
        </div>
        
        <div class="display-label">
            Partner Card
        </div>
        <div class="display-field">
            @(Model.PartnerCard.ToString())
        </div>
    }

    <div class="display-label">
        Coins
    </div>
    <table>
        <tr>
            @foreach (var playerScore in Model.Scores().Coins)
            {
                <th>Player @(Model.Deck.Game.Players.IndexOf(playerScore.Key) + 1)</th>
            }
        </tr>
        <tr>
            @foreach (var playerScore in Model.Scores().Coins)
            {
                <td>@(playerScore.Value)</td>
            }
        </tr>
    </table>
</fieldset>